{
    "swagger": "2.0",
    "info": {
        "description": "\"\"",
        "title": "Swagger Example API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "api.engin.app",
    "basePath": "/v1",
    "paths": {
        "/CreateUserAccount": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Validation"
                ],
                "summary": "Creates an account on the service",
                "parameters": [
                    {
                        "maxLength": 320,
                        "minLength": 4,
                        "type": "string",
                        "name": "email",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "maxLength": 156,
                        "minLength": 8,
                        "type": "string",
                        "name": "password",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "maxLength": 156,
                        "minLength": 8,
                        "type": "string",
                        "name": "passwordconfirm",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/signin": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Validation"
                ],
                "summary": "Sign Into Account",
                "parameters": [
                    {
                        "maxLength": 320,
                        "minLength": 4,
                        "type": "string",
                        "name": "email",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "maxLength": 156,
                        "minLength": 8,
                        "type": "string",
                        "name": "password",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.UserAccountSigninResponse"
                        }
                    }
                }
            }
        },
        "/v1/account/{id}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account"
                ],
                "summary": "Gets the account by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID for account",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Account"
                        }
                    }
                }
            }
        },
        "/v1/admin/accounts": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin"
                ],
                "summary": "Gets all user accounts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Account"
                            }
                        }
                    }
                }
            }
        },
        "/v1/admin/user-accounts": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Admin"
                ],
                "summary": "Gets all user accounts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.UserAccount"
                            }
                        }
                    }
                }
            }
        },
        "/v1/role/{id}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account Role"
                ],
                "summary": "Gets the user account role by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID for user account",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.UserAccountRole"
                            }
                        }
                    }
                }
            },
            "delete": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account Role"
                ],
                "summary": "Deletes user by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID for user account role",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1/signup/{uid}": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Validation"
                ],
                "summary": "Verifies an email with a UUID sent to the account email",
                "parameters": [
                    {
                        "type": "string",
                        "description": "uuid from email",
                        "name": "uid",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1/user-account": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account"
                ],
                "summary": "Gets the meta user account information",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.UserAccountFull"
                        }
                    }
                }
            },
            "delete": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account"
                ],
                "summary": "Deletes user by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID for user account",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1/user-account-role/{id}": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account Role"
                ],
                "summary": "Updates a user account role by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header as token",
                        "name": "Authentication",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID for user account",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "name": "role",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "minimum": 0,
                        "type": "integer",
                        "name": "status",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1/user-account-roles/account/{id}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account Role"
                ],
                "summary": "Gets the user account role by account ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.UserAccountRole"
                            }
                        }
                    }
                }
            }
        },
        "/v1/user-account-roles/{id}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account Role"
                ],
                "summary": "Gets the user account role by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID for account",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.UserAccountRole"
                            }
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account Role"
                ],
                "summary": "Creates a user account role",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.UpdateUserAccountRoleDTO"
                        }
                    }
                }
            }
        },
        "/v1/user-account-roles/{user-id}/{account-id}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account Role"
                ],
                "summary": "Gets the user account role by user ID and account ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.UserAccountRole"
                            }
                        }
                    }
                }
            }
        },
        "/v1/user-account/{id}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account"
                ],
                "summary": "Gets the user account information by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.UserAccountFull"
                        }
                    }
                }
            },
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account"
                ],
                "summary": "Updates a user account by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header as token",
                        "name": "Authentication",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID for user account",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "maxLength": 122,
                        "minLength": 4,
                        "type": "string",
                        "name": "address",
                        "in": "formData"
                    },
                    {
                        "maxLength": 122,
                        "minLength": 4,
                        "type": "string",
                        "name": "country",
                        "in": "formData"
                    },
                    {
                        "maxLength": 122,
                        "minLength": 4,
                        "type": "string",
                        "name": "description",
                        "in": "formData"
                    },
                    {
                        "maxLength": 122,
                        "minLength": 4,
                        "type": "string",
                        "name": "image",
                        "in": "formData"
                    },
                    {
                        "maxLength": 320,
                        "minLength": 4,
                        "type": "string",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "maxLength": 12,
                        "minLength": 4,
                        "type": "string",
                        "name": "phone",
                        "in": "formData"
                    },
                    {
                        "maxLength": 122,
                        "minLength": 4,
                        "type": "string",
                        "name": "timezone",
                        "in": "formData"
                    },
                    {
                        "maxLength": 122,
                        "minLength": 4,
                        "type": "string",
                        "name": "website",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1/user-account/{id}/name": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account"
                ],
                "summary": "Updates a user account name by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header as token",
                        "name": "Authentication",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID for user account",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "maxLength": 320,
                        "minLength": 4,
                        "type": "string",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1/user-account/{id}/password": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Account"
                ],
                "summary": "Updates a user account password by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header as token",
                        "name": "Authentication",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID for user account",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "maxLength": 156,
                        "minLength": 8,
                        "type": "string",
                        "name": "password",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "maxLength": 156,
                        "minLength": 8,
                        "type": "string",
                        "name": "passwordconfirm",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1/user-dashboard": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Dashboard"
                ],
                "summary": "Gets the user dashboard",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Auth",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.Dashboard"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "model.Account": {
            "type": "object",
            "properties": {
                "created": {
                    "type": "string"
                },
                "fk_status_id": {
                    "type": "integer"
                },
                "id": {
                    "type": "integer"
                },
                "lookup_name": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "uid": {
                    "type": "string"
                },
                "updated": {
                    "type": "string"
                }
            }
        },
        "model.Dashboard": {
            "type": "object"
        },
        "model.UpdateUserAccountRoleDTO": {
            "type": "object",
            "required": [
                "role",
                "status"
            ],
            "properties": {
                "role": {
                    "type": "integer",
                    "minimum": 0
                },
                "status": {
                    "type": "integer",
                    "minimum": 0
                }
            }
        },
        "model.UserAccount": {
            "type": "object",
            "properties": {
                "created": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "image": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "uid": {
                    "type": "string"
                },
                "updated": {
                    "type": "string"
                }
            }
        },
        "model.UserAccountAdministration": {
            "type": "object",
            "properties": {
                "email_validated": {
                    "type": "boolean"
                },
                "failed_login_attempts": {
                    "type": "integer"
                },
                "fk_status_id": {
                    "type": "integer"
                },
                "fk_user_account_type_id": {
                    "type": "integer"
                },
                "lookup_name": {
                    "type": "string"
                },
                "status_name": {
                    "type": "string"
                },
                "temp": {
                    "type": "boolean"
                }
            }
        },
        "model.UserAccountFull": {
            "type": "object",
            "properties": {
                "ua": {
                    "$ref": "#/definitions/model.UserAccount"
                },
                "uaa": {
                    "$ref": "#/definitions/model.UserAccountAdministration"
                },
                "uai": {
                    "$ref": "#/definitions/model.UserAccountInformation"
                },
                "uam": {
                    "$ref": "#/definitions/model.UserAccountMedia"
                }
            }
        },
        "model.UserAccountInformation": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "country": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "phone": {
                    "type": "string"
                },
                "timezone": {
                    "type": "string"
                },
                "updated": {
                    "type": "string"
                }
            }
        },
        "model.UserAccountMedia": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "image": {
                    "type": "string"
                },
                "updated": {
                    "type": "string"
                },
                "website": {
                    "type": "string"
                }
            }
        },
        "model.UserAccountRole": {
            "type": "object",
            "properties": {
                "fk_account_id": {
                    "type": "integer"
                },
                "fk_user_account_id": {
                    "type": "integer"
                },
                "id": {
                    "type": "integer"
                },
                "lookup_name": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "role_id": {
                    "type": "integer"
                },
                "status": {
                    "type": "integer"
                },
                "updated": {
                    "type": "integer"
                }
            }
        },
        "model.UserAccountSigninResponse": {
            "type": "object",
            "properties": {
                "token": {
                    "type": "string"
                }
            }
        }
    }
}